{% extends "settings.html" %}
{% block pagetitle %}Followers - Ruqqus{% endblock %}
{% block content %}

<div class="row">
  <div class="col col-lg-8">
    <div class="settings">
      <h2 class="h5">Followers</h2>
      <div class="settings-section rounded">
        <div class="d-flex">
          {% for x in v.follower_list(v) %}
          <tr>
            <td>
              <a href="{{ x.permalink }}">
              <img src="{{ x.profile_url }}" class="profile-pic-20 align-top mr-2">@{{ x.username }}</a>
            </td>
          </tr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
