{% extends "settings.html" %}
{% block pagetitle %}Followers - Ruqqus{% endblock %}
{% block content %}

<div class="row">
  <div class="col col-lg-8">
    <div class="settings">
      <h2 class="h5">Followers</h2>
      <div class="settings-section rounded">
        <div class="d-flex">
          {% if not v.follower_list %}
            <td>You don't have any followers yet.</td>
          {% else %}
            {% for x in v.follower_list %}
            <tr>
              <td>
                <a href="{{ x.permalink }}">
                <img src="{{ x.profile_url }}" class="profile-pic-20 align-top mr-2">@{{ x.username }}</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
